<template name="AddAnswers">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="center-align">Some title</h4>
				<p class="center-align">
					Some description about this page
				</p>
			</div>
		</div>
		<div class="row question">
			<div class="col s12">
				{{#autoForm schema=answersSchema collection=Answers id="insertAnswer" type="insert"}}
					<fieldset>
						<legend class="center-align">{{question.question}}</legend>
						<h5 class="center-align">{{question.description}}</h5>
						<h6 class="center-align">
							{{#if answer}}
								Your last answer: {{answer}}
							{{/if}}
						</h6>
						{{#if not question.deprecated}}
							{{> afQuickField name='questionId'}}
							{{> afQuickField name='author'}}
							<div>
								<label for="answersType">Add answer:</label>
								{{> afQuickField name='answer'}}
							</div>
							{{> afQuickField name='createdAt'}}
							<div class="right">
								<button type="submit" class="btn waves-light">
									Add answer
									<i class="material-icons left">chat_bubble_outline</i>
								</button>
							</div>
						{{else}}
							<h5 class="center-align" style="color: red;">Question was deprecated!</h5>
						{{/if}}
					</fieldset>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>
