<template name="MyQuestions">
	<div class="container">
		<div class="row">
			<h4 class="center-align">Some title</h4>
			<p class="center-align">
				Some description about this page
			</p>
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="collection">
					<li class="collection-item">
						Options
						<a href="/create-question" class="icon-link">
							<i class="material-icons right" id="create-question">add</i>
						</a>
						<i class="material-icons right">show_chart</i>
						<i class="material-icons right">search</i>
					</li>
				</ul>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<table class="bordered">
				<thead>
					<tr>
						<th class="center-align">
							<input type="checkbox" class="filled-in" id="select-all-questions" name="select-all-questions">
							<label for="select-all-questions"></label>
						</th>
						<th>
							<ul class="collection">
								<li  class="collection-item">
									<span class="right">{{questionsLength}}/1000</span>My questions
								</li>
							</ul>
						</th>
						<th class="center-align">
							<i class="material-icons">star</i>
							<i class="material-icons">delete_forever</i>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each Questions}}
						<tr>
							<td class="center-align">
								<input type="checkbox" class="filled-in" id="question-1" name="question-1">
								<label for="question-1"></label>
							</td>
							<td>{{question}}</td>
							<td class="center-align">
								<a href="/edit-question/{{this._id}}" class="icon-link">
									<i class="material-icons">create</i>
								</a>
								<i class="material-icons">star_border</i>

									<i class="material-icons make-publish">
										{{#if published}}
											visibility
										{{else}}
											visibility_off
										{{/if}}
									</i>
								<i class="material-icons delete-question">delete_forever</i>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>
