<template name="Questions">
	<div class="container">
		<div class="row">
			<h4 class="center-align">My questions</h4>
			<p class="center-align">
				Some description about this page
			</p>
		</div>
		<div class="row">
			<ul class="collection">
				<li class="collection-item">
					<div class="row">
						<div class="left">
							<input type="checkbox" class="filled-in" id="select-all-questions" name="select-all-questions">
							<label for="select-all-questions"></label>
						</div>
						<div class="right">
							<i class="material-icons">delete_forever</i>
							<a href="/create-question" class="icon-link">
								<i class="material-icons" id="create-question">add</i>
							</a>
						</div>
					</div>
				</li>
				{{#each Questions}}
					<li class="collection-item">
						<div class="row">
							<div class="left">
								<input type="checkbox" class="filled-in" id="question-1" name="question-1">
								<label for="question-1"></label>
							</div>
							<div class="left">
								{{question}}
							</div>
							<div class="right">
								<a href="/edit-question/{{this._id}}"  class="icon-link">
									<i class="material-icons tooltipped" data-tooltip="I am a tooltip">create</i>
								</a>
								<!-- <i class="material-icons">star_border</i> -->
								<i class="material-icons make-publish">
									{{#if published}}
										visibility
									{{else}}
										visibility_off
									{{/if}}
								</i>
								{{#if deprecated}}
									<i class="material-icons delete-question" style="color: red;">delete_forever</i>
								{{else}}
									<i class="material-icons delete-question">delete_forever</i>
								{{/if}}
							</div>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>
