<template name="TestQuestionnaire">
	{{#autoForm schema=answersSchema collection=answersCollection id="insertAnswer" type="insert"}}
		<fieldset>
			<legend class="center-align">{{question.question}}</legend>
			<h5 class="center-align">{{question.description}}</h5>
			{{> afFieldInput name='questionId'}}
			{{> afFieldInput name='author'}}
			<label for="answersType">Add answer:</label>
			{{> afQuickField name='answer'}}
			{{> afFieldInput name='createdAt'}}
			<div class="right">
				<button type="submit" class="btn waves-light">
					Add answer
					<i class="material-icons left">chat_bubble_outline</i>
				</button>
			</div>
		</fieldset>
	{{/autoForm}}
</template>
