<template name="Answer">
    <form class="form" id="insert-answer">
        <fieldset>
            <legend class="center-align">{{question.question}}</legend>
            <h5 class="center-align">{{question.description}}</h5>
            {{#if not question.deprecated}}
                {{#if equal answerType 0}}
                    {{> CheckboxType questionId=currentQuestionId}}
                {{else}}
                    {{#if equal answerType 1}}
                        {{> RadioButtonType questionId=currentQuestionId}}
                    {{else}}
                        {{#if equal answerType 2}}
                            {{>TextInputType questionId=currentQuestionId}}
                        {{else}}
                            {{#if equal answerType 3}}
                                {{>CountryType questionId=currentQuestionId}}
                            {{else}}
                                {{>CityType questionId=currentQuestionId}}
                            {{/if}}
                        {{/if}}

                    {{/if}}
                {{/if}}
                <div class="right">
                    <button type="submit" class="btn waves-light">
                        Add answer
                        <i class="material-icons left">chat_bubble_outline</i>
                    </button>
                </div>
            {{else}}
                <h5 class="center-align red-text">Question was deprecated!</h5>
            {{/if}}
        </fieldset>
    </form>
</template>