<template name="EditQuestion">
    <div class="container" id="form-update-question">
        <div class="row">
            <div class="col s12">
                <h4 class="center-align">Some title</h4>
                <p class="center-align">Some description about this page</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{#autoForm collection=Questions id="updateQuestion" doc=Question type="update"}}
                    <fieldset>
                        <legend>Create question</legend>
                        {{> afQuickField name='question'}}
                        {{> afQuickField name='description'}}
                        {{#if checkRole currentUser.profile.role "admin"}}
                            {{> afQuickField name='variableName'}}
                        {{/if}}
                        {{> afQuickField name='answersType'}}
                        {{> afQuickField name='author'}}
                        {{> afQuickField name='answers'}}
                        {{> afQuickField name='publishedDate'}}
                        {{> afQuickField name='published'}}
                        {{> afQuickField name='createdAt'}}
                    </fieldset>
                    <div class="right">
                        <button class="btn waves-light">
                            Update
                            <i class="material-icons left">autorenew</i>
                        </button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
